<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/agregar-nota">Agregar Nota</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/editar-nota">Editar Nota</a>
  </li>
</ul>